.App {
  text-align: center;
}

th{
  width: 200px;
  height : 80px;
  border: 1px solid;
}
tr{
  height: 80px;
  border: 1px solid;
}
td{
  border: 1px solid;
  cursor: pointer;
}
table{
  border: 1px solid!important;
}