.App {
  text-align: center;
}

th{
  width: 200px;
  height : 80px;
  border: 1px solid;
}
tr{
  height: 80px;
  border: 1px solid;
}
td{
  border: 1px solid;
  cursor: pointer;
}
td:hover{
  background-color: rgb(218, 216, 216);
}
table{
  border: 1px solid!important;
}
.redColor{
  color: red;
  text-align: left;
}