.calender-month{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    height: 100px;
    font-size: 50px;
    padding : 1%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.calender-day{
    border: 1px solid;
}
.calender-month i{
    cursor: pointer;
}
.calender-table{
    border: 1px solid;
}